<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neo.dao.Sys_rightdao" >
  <resultMap id="BaseResultMap" type="Sys_right">
    <id column="right_code" property="rightCode"/>
    <result column="right_parent_code" property="rightParentCode"/>
    <result column="right_type" property="rightType"/>
    <result column="right_text" property="rightText"/>
    <result column="right_url" property="rightUrl"/>
    <result column="right_tip" property="rightTip"/>
  </resultMap>
  
</mapper>